.task {
  display: flex;
  align-items: center;
  .list-item {
    background: #eeeeee;
    border-radius: 3px;
    padding: 0.7rem;
    margin: 0.5em;
    flex-grow: 1;
    cursor: pointer;
    font-size: 1.5em;
    &--done {
      background: #eeeeee57;
      text-decoration: line-through;
    }
  }
  svg {
    &:hover {
      transform: scale(1.1);
    }
  }
}
