.list-item {
  background: #eee;
  display: block;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0;
}

.list-item--done {
  background: #eeeeee57;
  display: block;
  border-radius: 3px;
  padding: 1rem;
  margin: 0.5rem 0;
  text-decoration: line-through;
}
