.modal {
  position: absolute;
  top: 30vh;
  right: 50vw;
  transform: translateX(50%);
  background: #183129;
  padding: 1em;
  border-radius: 0.5em;
  max-width: 90%;
  overflow: auto;
  input {
    padding: 0.5em;
    outline: rgba(24, 49, 41, 0.564);
    font-size: 1.5em;
  }
}
